.shipment-method {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.shipment-method__title {
    font-size: 20px;
    font-weight: 600;
    color: #17183B;
}

.shipment-method__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.method-card {
    display: flex;
    align-items: center;
    padding: 24px;
    border: 1px solid #D1D1D8;
    border-radius: 11px;
    gap: 16px;
    cursor: pointer;
}

.method-card.active {
    border-color: #000;
}

.method-card__radio input {
    display: none;
}

.method-card__radio label {
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid #000;
    position: relative;
}

.method-card.active .method-card__radio label::before {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.method-card__info {
    flex-grow: 1;
}

.method-card__price {
    font-size: 16px;
    font-weight: 500;
    color: #000;
}

.method-card__description {
    font-size: 16px;
    color: #A2A3B1;
}

.method-card__date {
    font-size: 16px;
    font-weight: 500;
    color: #A2A3B1;
}

.method-card__date-picker {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 16px;
    font-weight: 500;
    color: #A2A3B1;
}

@media (max-width: 768px) {
    .method-card {
        flex-wrap: wrap;
    }

    .method-card__date,
    .method-card__date-picker {
        width: 100%;
        text-align: right;
    }
}
